{% extends "base.html" %}
{% block title %}
About Us
{% endblock title %}
{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100" style="color: white; font-size: 22px; text-align: center;">
          <h3>Welcome to Superb Fitness.</h3>
          <br><br><br>
          <p>
            At Superb Fitness, we blend the power of yoga, Zumba, aerobics, body pump, and more to create a holistic wellness experience. Our approach goes beyond physical transformation, focusing on nurturing both your body and mind.<br> 
            We are committed to guiding you toward lasting well-being, helping you build strength from the inside out.
            Join us on this journey of self-discovery and fitness, where every workout brings you closer to a healthier, more vibrant you.
          </p>
        </div>
      </div>
  
    </div>
  </section><!-- End About Section -->
  
{% endblock content %}